{{ form_start(form) }}
    {{ form_widget(form) }}
    <div style="clear:both">
        <label>Valider la saisie</label><button class="btn btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
