{% extends 'base.html.twig' %}

{% block title %}Enregistrer un nouveau Burger{% endblock %}

{% block body %}
    <h1>Enregistrer un nouveau Burger</h1>

    {{ include('burger/_form.html.twig') }}
<div style="clear:both">
    <a href="{{ path('burger_index') }}" class="btn btn-primary">Retour à la liste</a>
</div>
{% endblock %}
